.todo {
  position: relative;
  padding: 16px;
  box-sizing: border-box;
  max-width: 400px;
}

.date {
  position: absolute;
  right: 16px;
  top: 16px;
}

.removeTodo {
  display: block;
  margin-left: auto;
}

.complete {
  font-size: 1.2rem;
}
